@charset "utf-8";

#product {
  padding-top: 131px;
  padding-bottom: 145px;
  background: white;
  font-size: 14px;
  max-width: 980px;
  width: 100%;
  margin: auto;
  color: black;
}

#product .ttl{
  text-align: center;
  font-weight: normal;
  margin-bottom: 50px;
}

#product .ttl__header {
  color: #666666;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: .15em;
  text-indent: 0.15em;
  font-family: 'garamond-premier-pro-display', serif;
}

#product .ttl__desp{
  color: #999999;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .1em;
  text-indent: 0.1em;
  font-family: 'garamond-premier-pro-display', serif;
}

/* ----------- content ------------ */

#product .content{
  display: flex;
}

/* ---------- product category   ----------- */

#product .category__list{
  width: 150px;
  margin-right: 20px;
}

#product .category__list li{
  padding: 5px 0;
  text-align: center;
}

#product .category__list li a{
  border-radius: 4px;
  border: 1px solid #babcbc;
  color: #222;
  display: inline-block;
  padding: 7px 5px;
  text-align: center;
  width: 100%;
  font-size: 13px;
}

#product .category__list li a:hover, 
#product .category__list li a.active{
  background: #bbb;
  color: white;
}

/* --------   product item ------------ */

#product .product__list{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 160px);
}

#product .product__card{
  display: inline-block;
  width: calc(33.33% - 20px);
  margin: 10px;
}

#product .product__card:hover{
  background-color: #eee;
  transition: .3s all;
}

#product .product__item{
  /* padding: 15px; */
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
}

#product .product__image {
  padding: 8px;
  border-radius: 2px;
  text-align: center;
}

#product .product__image .img{
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#product .product__desp{
  padding: 5px 10px 15px;
  position: relative;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", arial, sans-serif;
}

#product .product__desp .brand{
  font-size: 12px;
  color: #b9b9b9;
  line-height: normal;
}

#product .product__desp .name, #product .product__desp .price{
  color: #333;
  line-height: normal;
  font-size: 14px;
}

#product .product__desp .name{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#product .chbox{
  position: absolute;
  top: 5px;
  right: 5px;
}

#product #cased22 dt{
  font-size: 14px;
}

#product #cased4 a{
  font-size: 14px;
  padding: 15px;
}